name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-test-and-build:
    name: Lint & Test & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      # apitoken for tests, issued in test-app-1.leanix.net/TeamCompassDemo, set as a repo secret
      - name: Create lxr.json
        env:
          LXR_TEST_HOST: test-app-1.leanix.net
          LXR_TEST_APITOKEN: ${{ secrets.TEAM_COMPASS_TECHNICAL_USER_TOKEN }}
        run: |
          jq -cn --arg host '${{ env.LXR_TEST_HOST }}' --arg apitoken '${{ env.LXR_TEST_APITOKEN }}' '$ARGS.named' | jq . > lxr.json

      - name: Test
        run: npm test
